@model Bokking.Models.Room

@{
    ViewData["Title"] = "Create";
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create"  enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rommnumber" class="control-label"></label>
                <input asp-for="Rommnumber" class="form-control" />
                <span asp-validation-for="Rommnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roomtype" class="control-label"></label>
                <input asp-for="Roomtype" class="form-control" />
                <span asp-validation-for="Roomtype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pricepernight" class="control-label"></label>
                <input asp-for="Pricepernight" class="form-control" />
                <span asp-validation-for="Pricepernight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Availability" class="control-label"></label>
                <input asp-for="Availability" class="form-control" />
                <span asp-validation-for="Availability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelId" class="control-label"></label>
                <input asp-for="HotelId" class="form-control" />
                <span asp-validation-for="HotelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

